/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/doc/
/pkg/
/coverage/
/spec/reports/
/tmp/
/.idea/*
/test_app/*
/spec/dummy/tmp/*
spec/dummy/log/*.log
spec/dummy/db/test.sqlite3
*.gem
/spec/dummy/public/uploads/
.DS_Store*
