@import 'medium-editor/medium-editor';
@import 'medium-editor/themes/bootstrap';

// news admin

.news__nav {
  position: fixed;
  top: 50px;
  bottom: 103px;
  right: 0;

  width: 200px;

  padding: 20px;

  background: #f8f8f8;
  border-left: solid 1px rgba(0,0,0,.1);

  overflow: hidden;
  overflow-y: scroll;
}

.news__controls {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 200px;

  padding: 20px;

  background: #f8f8f8;
  border-left: solid 1px rgba(0,0,0,.1);
}


.news-snippet {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}

.news-snippet__image {
  width: 100%;
}


.news__container {
  @include box-sizing(border-box);
  padding: 0 220px 0 40px;
}

.news__row {
  position: relative;
  max-width: 100%;
  height: auto !important;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}


.news__content {
  line-height: 1.6;

  color: rgba(0,0,0,.8);
  font-size: 16px;

  margin-bottom: 20px;

  p {
    margin: 0 0 20px;

    &:last-of-type {
      margin: 0;
    }
  }
}


.news-tools {
  position: absolute;
  top: 5px;
  left: -40px;

  border-radius: .4rem;
  background: darken(#fff, 7%);

  overflow: hidden;
}

.news-tools__btn {
  display: block;

  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  padding: 10px;

  &:hover,
  &:focus {
    background: rgba(0,0,0,.05);
    text-decoration: none;
  }
}

.news-tools__input {

}

.news-tools__input--upload {
  display: none !important;
}


.news__figure {
  position: relative;

  .news-tools {
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
  }

  img {
    width: 100%;
  }
}

.news__figure--left {
  float: left;
  width: 50%;
  margin: 6px 30px 20px 0;
}

.news__figure--right {
  float: right;
  width: 50%;
  margin: 6px 0 20px 30px;
}

.news__figure--center {
  margin: 0 0 20px;
}

.news__figcaption {
  color: rgba(0,0,0,.6);

  font-size: 14px;
  line-height: 1.4;

  margin-top: 6px;
  padding: 8px 14px;

  background: rgba(0,0,0,.05);
}

.ui-sortable-placeholder {
  margin: 20px 0;
  height: 80px;

  background: rgba(0,0,0,.05);
  border: dashed 2px rgba(0,0,0,.05);
}
